*{
	margin: 0;
	padding:0;
}
.main{
	overflow: hidden;
	position: relative;
	background:linear-gradient(#21b3e1,#fff);
	height: 100vh;
}
.navbar{
	width: 100%;
	border-bottom: 2px solid #b7e7f6;
}
nav{
	display: flex;
	position: sticky;
	align-items: center;
	z-index: 2;
	margin: 15px auto 0;
	width: 80%;
}
.logo{
	flex-basis: 20%;
}
.logo img{
	width: 30%;
}
.nav-link{
	flex: 1;
	text-align: center;
}
.nav-link ul li{
	list-style: none;
	display: inline-block;
	position: relative;
	margin: 0px 25px;
	margin-top: 5px;	
	padding: 15px 5px;
}
.nav-link ul li a{
	text-decoration: none;
	color: #b7e7f6;
}
.nav-link ul li::after{
	content: " ";
	height: 3px;
	background: transparent;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.active::after{
	background: #fff ! important;
}
.nav-link ul li:hover::after{
	background:#fff;
}
.menu{
	flex-basis: 15%;
}
.menu img{
	width: 35%;
	float: right;
}
.content{
	top: 90px;
	left: 50%;
	position: absolute;
	width: 300px;
	transform: translateX(-50%);
	z-index: 2;
	text-align: center;
}

.social-icon img{
	margin: 0 15px;


}
.search{
	margin:10px auto;
	display: flex;
	border:1px solid #b7e7f6;
	display: flex;
	border-radius: 30px;
	align-items: center;
	background:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255, 	 ));
}
.search input{

	width: 100%;
	border:none;
	outline: 0;
	border-radius: 30px;
	background:transparent;
	color: #b7e7f6;
	padding: 7px 15px;
}
::placeholder{
	color: #b7e7f6;
}
.search img{
	width: 20px;
	margin: 5px 10px;
}
#cloud{
	position: absolute;
	top: -100px;
	left: 0px;
	width: 100%;
	animation: clouds 5s linear infinite;
}
@keyframes clouds{
	0%{
		top: -100px
	}
	10%{
		top: -80px
	}
	20%{
		top: -60px
	}
	30%{
		top: -40px
	}
	40%{
		top: -20px
	}
	50%{
		top: 0px;
	}
	60%{
		top: 20px
	}
	70%{
		top: 40px
	}
	80%{
		top: 60px
	}
	90%{
		top: 80px
	}
	100%{
		top: 100px
	}
	
}
#airplain{
	width: 200px;
	position: absolute;
	left: -250px;
	top: 180px;
	z-index: 2;
	animation: fly 5s linear infinite;
}
@keyframes fly{
	0%{
		left: -200px;
	}
	5%{
		left: -140px;
	}
	10%{
		left: -80px;
	}
	15%{
		left: -20px;
	}
	20%{
		left: 40px;
	}
	25%{
		left: 100px;
	}
	30%{
		left: 160px;
	}
	35%{
		left: 220px;
	}
	40%{
		left: 280px;
	}
	45%{
		left: 340px;
	}
	50%{
	left: 400px;
	}
	55%{
		left: 460px;
	}
	60%{
		left: 520px;
	}
	65%{
	left: 580px;
	}
	70%{
	left: 640px;	}
	
	75%{
		left: 700px;
	}
	80%{
		left: 760px;
	}
	85%{
		left: 820px;
	}
	90%{
		left: 880px;
	}
	95%{
		left: 940px;
	}
	100%{
		left: 1050px;
	}

}
#hotAirBalloon{
	width: 700px;
	height: 400px;
	position: absolute;
	bottom: -50px;
	left: -50px; 
	transform: translateX(-50%);
	animation: balloon 5s linear infinite;

}
@keyframes balloon{
	0%{
		left: 0px;
	}
	10%{
		left: 100px;
	}
	20%{
		left: 200px;
	}
	30%{
		left: 300px;
	}
	40%{
		left: 400px;
	}
	50%{
		left: 500px;
	}
	60%{
		left: 600px;
	}
	65%{
		left: 600px;
	}
	70%{
		left: 600px;
	}
	75%{
		left: 600px;
	}
	/*80%{
		left: 800px;
	}
	90%{
		left: 1000px;
	}
	100%{
		left: 1100px;
	}*/
}
.balloon1{
	width: 130px;
	opacity: 0.4;
}
.balloon2{
	width: 300px;
}
.balloon3{
	width: 150px;
	opacity: 0.5;

}
#play{
	width: 70px;
	height: 70px;
	position: absolute;
	left: 48%;
	bottom: 10px;
	transform: translateX(-50%);
}